<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirming user</title>
    <link rel="stylesheet" href="/showuser.css">
    <link rel="icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Application of: <%=user.NAME%> (<%= user.ID%>) <i class="fa-solid fa-clipboard-list"></i></h1>
    <table>
        <tr>
            <th>TOKEN NUMBER</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>BLOOD GROUP</th>
            <th>EMAIL</th>
            <th>CONTACT</th>
            <th>AVAILABILITY DATE</th>
            <th>STATUS</th>
            <th>CONFIRM</th>
        </tr>
                <tr>
                <td><%= user.ID%></td>
                <td><%=user.NAME%></td>
                <td><%=user.AGE%></td>
                <td><%=user.BLOOD%></td>
                <td><%=user.EMAIL%></td>
                <td><%=user.CONTACT%></td>
                <td><%=user. AVAILABILITY%></td>
                <td><%=user. STATUS%></td>
                <form method="post" action="/donate/<%= user.ID%>?_method=PATCH">
                    <td><button>Confirm Donated Blood</button></td>
                </form>
                </tr>
    </table>
</body>
</html>