<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reception-Bookings</title>
    <link rel="stylesheet" href="/reception.css">
    <link rel="icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Bookings / Consultation</h1>
    <table>
    <tr>
        <th>NAME</th>
        <th>EMAIL ID</th>
        <th>PHONE</th>
        <th>APPOINTMENT DATE</th>
        <th>DOCTOR</th>
    </tr>
    <%for(let user of result){%>
        <tr>
            <td><%=user.name%></td>
            <td><%=user.email%></td>
            <td><%=user.phone%></td>
            <td><%=user.appoinment_date%></td>
            <td><%=user.doctor%></td>
        </tr>
    <%}%>
</table>
</body>
<section>
    <a href="http://localhost:8080/login">Log out</a>
</section>
</html>