<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer's application</title>
    <link rel="stylesheet" href="/showvolunteer.css">
    <link rel="icon" href="/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Application's applied for Volunteer's <i class="fa-solid fa-people-group"></i>  <form method="post" action="/login/screen-success"> <button>Back <i class="fa-solid fa-right-from-bracket"></i></button></form></h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CONTACT NUMBER</th>
            <th>SKILLS</th>
            <th>AVAILABILITY</th>
            <th>STATUS OF BEING VOLUNTEER</th>
            <th>CONFIRM</th>
        </tr>
            <%for(let application of result){%>
                <tr>
                <td><%=application. ID%></td>
                <td><%=application.NAME%></td>
                <td><%=application.EMAIL%></td>
                <td><%=application.CONTACT%></td>
                <td><%=application.SKILLS%></td>
                <td><%=application. AVAILABILITY%></td>
                <td><%=application. STATUS%></td>
                <form method="get" action="/login/<%=application.ID%>/edit">
                    <td><button>OPEN APPLICATION</button></td>
                </form>
                </tr>
            <%}%>
    </table>
</body>
</html>